.vscode/

*.aux
*.lof
*.log
*.lot
*.fls
*.ilg
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.nlo
*.nls
*.pdf
!tex/generic/images/unicamp-logotipo.pdf

*.dvi
*.xdv

*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
